:root {
  --text-color: #3a3c4f;
  --box-shadow: #c0c1c9;
  --list-background: #ebecf2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.highlight {
  background-color: #e7bb41;
}

.hidden {
  visibility: hidden;
}

body {
  display: grid;
  justify-items: center;
  align-items: start;
  color: var(--text-color);
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: #e6e6ee;
}

.searchDiv {
  margin-top: 100px;
  width: 500px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 3px 10px var(--box-shadow), -2px 3px 10px var(--box-shadow);
}

.searchBox {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #e8e8ee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: url("../img/search.PNG") no-repeat;
  background-size: 55px;
  background-position: -1% 50%;
  padding-left: 50px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.searchBox:focus {
  outline: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.suggestions {
  list-style: none;
  font-size: 1rem;
}

.suggestions li {
  padding: 9px 15px 9px 15px;
}

.suggestions li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.suggestions li:nth-child(odd) {
  background-color: var(--list-background);
}
